
.login-form, .register-form, .narrow-form {
    margin: auto;
    max-width: 500px;
}
.btn {
    border-radius: 3px;
}
.form-control {
    border-radius: 3px;
}
button {
    &.full-width {
        margin-top: 1em;
        width: 100%;
    }
}
.nav-tabs{
    //border-bottom: none;
    //border-radius: 5px;
}